doctype html
html(lang="en")
  head
    title Lauren Casto Photography
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles.css")
    
  body
  
    .container
      
      .inner-wrap

        p Hello!
        
        p I'm taking a brief hiatus from professional photography work as I focus on bringing our next baby into the world.
        
        p I will be back as soon as I get this whole 'mother of two' thing down!
  
        p If you do need to contact me, please <span class="small-screen-only"><a href="mailto:hello@laurencastophotography.com">email me</a></span><span class="large-screen-only">email me at <a href="mailto:hello@laurencastophotography.com">hello@laurencastophotography.com</a></span>. I will be checking my email and responding often throughout the next several months.
  
        p Best, <br> Lauren